<div>
	<div class="personal-info-card">
		<mat-card>
			<img
				mat-card-image
				src="https://material.angular.io/assets/img/examples/shiba2.jpg"
				alt="Photo of a Shiba Inu"
			/>
			<mat-card-content>
				<div class="fullname">
					<h2>{{ profileView.fullName }}</h2>
					<h3>{{ profileView.university }}</h3>
					<h3 *ngIf="isStudent()">{{ profileView.cardId }}</h3>
					<h3 *ngIf="isStudent()">Experiences: {{ profileView.experiences }}</h3>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
</div>
