<div>
    <div class="main-box">
        <div class="main-box-inner" gdAreas="jb jb jb jb pi">
            <div gdArea="jb">
                <div class="jobs-browser">
                    <recruitment-jobs-browser></recruitment-jobs-browser>
                </div>
            </div>
            <div gdArea="pi">
                <div class="personal-info">
                    <div class="personal-info-box">
                        <recruitment-personal-info></recruitment-personal-info>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>