* {
	background-color: #f4f4f4;
}

.main-box {
	padding-top: 50px;
	padding-right: 100px;
	padding-left: 100px;

	.jobs-browser {
		margin: 20px;
		height: 90vh;
		overflow: auto;

		&::-webkit-scrollbar {
			display: none;
		}
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none;
	}
	.personal-info {
		margin: 20px;
		width: 100%;
	}
}
