<div class="discussion-container">
	<div class="create-post-form post-card" (click)="openCreatePostForm()">
		<mat-card>
			<div style="display: inline-flex; align-items: center">
				<div>
					<button mat-fab color="primary" style="margin-right: 30px">
						<mat-icon>mood</mat-icon>
					</button>
				</div>
				<div>Write something...</div>
			</div>
		</mat-card>
	</div>
	<div *ngFor="let post of posts" class="post-card">
		<mat-card>
			<div class="post-header">
				<button mat-fab color="warn" [matMenuTriggerFor]="profileMenu">
					<mat-icon>mood</mat-icon>
				</button>
				<mat-menu #profileMenu="matMenu">
					<button mat-menu-item>View profile</button>
					<button mat-menu-item>chat</button>
				</mat-menu>
			</div>
			<div class="post-body">{{ post.content }}</div>
			<mat-divider></mat-divider>
			<div class="post-comments">
				<div class="comment-list">
					<div *ngFor="let cmt of post.comments" class="single-comment">
						<div class="p-grid">
							<div class="p-col-fixed" style="width: 75px">
								<div class="comment-avatar">
									<button disabled mat-mini-fab color="warn">
										<mat-icon>mood</mat-icon>
									</button>
								</div>
							</div>
							<div class="p-col">
								<div class="comment-content">
									<div>{{ cmt.content }}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<mat-divider *ngIf="post.comments.length < 1"></mat-divider>
			<div class="write-comment-input">
				<div class="input-field" style="margin: 10px">
					<div class="p-grid">
						<div class="p-col-fixed" style="width: 75px">
							<div class="comment-avatar">
								<button mat-mini-fab color="warn">
									<mat-icon>mood</mat-icon>
								</button>
							</div>
						</div>
						<div class="p-col">
							<div class="comment-content">
								<div class="input-box">
									<textarea
										style="border-radius: 15px; width: 100%"
										[rows]="1"
										pInputTextarea
										autoResize="autoResize"
										[(ngModel)]="commentContent"
									></textarea>
									<button class="send-button" mat-icon-button (click)="addComment(post.postId)">
										<mat-icon>send</mat-icon>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</mat-card>
	</div>
	<p-dialog
		header="Create new post"
		[(visible)]="displayCreatePostForm"
		[modal]="true"
		[style]="{ width: '30vw' }"
		[baseZIndex]="10000"
		[draggable]="false"
		[resizable]="false"
	>
		<classroom-classroom-create-new-post></classroom-classroom-create-new-post>
		<ng-template pTemplate="footer">
			<p-button icon="pi pi-check" (click)="submitAndClose()" label="Create" styleClass="p-button-text">
			</p-button>
		</ng-template>
	</p-dialog>
</div>
