.discussion-container {
	margin-top: 50px;
	width: 1000px;
}
.post-body {
	margin: 10px;
}

.post-card {
	margin-bottom: 30px;
}
.post-comments {
	display: flex;
	justify-content: right;
}
.comment-list {
	width: 100%;
	margin-top: 10px;

	.comment-avatar {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.comment-content {
		width: auto;
		background-color: lightgray;
		border-radius: 20px;
		padding: 15px;
	}
}

.input-box {
	position: relative;
	.send-button {
		position: absolute;
        bottom: 1px;
        right: 1px;
	}
}

.create-post-form {
    &:hover {
        mat-card {
            background-color: aqua;
        }
    }
}
