<div class="discussion-container">
    <div>
        
    </div>
    <div *ngFor="let post of posts">
        <p-card>
            <div class="post-header">
                <button mat-fab color="warn" [matMenuTriggerFor]="profileMenu">
                    <mat-icon>mood</mat-icon>
                </button>
                <mat-menu #profileMenu="matMenu">
                    <button mat-menu-item>View profile</button>
                    <button mat-menu-item>chat</button>
                </mat-menu>
            </div>
            <div class="post-body">{{ post.content }}</div>
            <mat-divider></mat-divider>
            <div class="comments">
                <div class="post-comments">
                    <div *ngFor="let cmt of post.comments" class="single-comment">
                        <div class="p-grid">
                            <div class="p-col-fixed" style="width:100px;">
                                <div class="comment-avatar">
                                    <button mat-mini-fab color="warn">
                                        <mat-icon>mood</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div class="p-col">
                                <div class="comment-content">
                                    <div>{{ cmt.content }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </p-card>
    </div>
</div>