.discussion-container {
	margin-top: 50px;
	width: 1000px;
}

.post-header {
	margin-left: 10px;
}
.post-body {
	margin: 10px;
}

.comments {
    display: flex;
    justify-content: right;
}
.post-comments {
	width: 98%;
    margin-top: 10px;

	.single-comment {
	}
	.comment-avatar {
		width: 100%;
        display: flex;
        justify-content: center;
	}
	.comment-content {
		width: auto;
		background-color: lightgray;
		border-radius: 20px;
        padding: 15px;
	}
}
