<div class="classoom-space-box">
	<div class="classroom-banner-box p-shadow-8">
		<mat-card class="classroom-banner-card">
			<mat-card-title>OOP</mat-card-title>
		</mat-card>
	</div>
	<div class="classroom-main-box">
		<mat-sidenav-container class="example-container" autosize>
			<mat-sidenav opened mode="side" class="example-sidenav">
				<div class="sidenav-menu">
					<mat-action-list>
						<h3 matSubheader>Navigation</h3>
						<mat-list-item *ngFor="let selection of navigations" (click)="selectTab(selection.link)">
							<mat-icon matListIcon>{{ selection.icon }}</mat-icon>
							<h4 matLine>{{ selection.name }}</h4>
						</mat-list-item>
						<mat-divider></mat-divider>
						<h3 matSubheader>Notes</h3>
					</mat-action-list>
				</div>
			</mat-sidenav>
			<mat-sidenav-content>
				<div class="example-sidenav-content">
					<router-outlet></router-outlet>
				</div>
			</mat-sidenav-content>
		</mat-sidenav-container>
	</div>
</div>
