.form-container {
	height: 500px;
}

$input-text-area: 400px;
textarea {
    margin-top: 10px;
	border-radius: 20px;
    width: 100%;
    min-height: $input-text-area;
    max-height: $input-text-area;
}
