<div>
	<div class="job-mana-field action-buttons">
		<button mat-raised-button color="primary" (click)="openAddJobFormModal()">
			Add
			<mat-icon>add_task</mat-icon>
		</button>
	</div>
	<div *ngFor="let job of ownedJobList">
		<div class="single-job-card">
			<mat-card>
				<mat-card-title>
					<p>{{ job.title }}</p>
				</mat-card-title>
				<mat-card-content>
					<p>{{ job.courseName }}</p>
					<p>{{ job.semester }}</p>
					<p>Applied: {{ job.numberOfAlpplication }}</p>
				</mat-card-content>
				<mat-card-actions>
					<div class="action-buttons">
						<span class="p-buttonset">
							<button
								class="p-button-raised p-button-rounded"
								pButton
								type="button"
								icon="pi pi-folder-open"
								label="Open forms"
								(click)="openJobApplicationList(job.id)"
							></button>
							<button
								pButton
								type="button"
								icon="pi pi-arrow-circle-right"
								label="Go to class"
								class="p-button-success p-button-raised"
								(click)="openClassroomFromJob(job.id)"
							></button>
							<button
								pButton
								class="p-button-warning p-button-raised"
								type="button"
								icon="pi pi-pencil"
								iconPos="left"
							></button>
							<button
								pButton
								class="p-button-danger p-button-raised p-button-rounded"
								type="button"
								icon="pi pi-times-circle"
								iconPos="left"
							></button>
						</span>
					</div>
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
</div>
