<div>
	<div class="application-form">
		<form [formGroup]="applicationFormGroup">
			<div class="p-inputgroup field-input">
				<span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
				<input type="text" pInputText placeholder="Full Name" formControlName="fullName" />
			</div>
			<div class="p-inputgroup field-input">
				<span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
				<input type="text" pInputText placeholder="GPA" formControlName="gpa" />
			</div>
			<div class="p-inputgroup field-input">
				<span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
				<input type="text" pInputText placeholder="Major" formControlName="major" />
			</div>
			<p-editor [style]="{ height: '250px' }" formControlName="letter"></p-editor>

			<button
				pButton
				type="button"
				class="p-button-raised p-button-rounded"
				(click)="send()"
			>
				<div *ngIf="!loading">Send</div>
				<div *ngIf="loading"><mat-progress-spinner></mat-progress-spinner></div>
			</button>
		</form>
	</div>
</div>
