.post-body {
	margin: 10px;
}
.post-avatar {
	margin: 3px;
	margin-right: 10px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.post-owner-name {
	position: absolute;
	left: 100px;
	top: 40px;
	font-weight: bold;
	font-size: medium;
}
.comment-avatar {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.post-card {
	margin-bottom: 30px;
}
.post-comments {
	display: flex;
	justify-content: right;
}
.comment-list {
	width: 100%;
	margin-top: 10px;

	.comment-avatar {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.comment-content {
		width: auto;
		background-color: lightgray;
		border-radius: 20px;
		padding: 15px;
	}
}

.input-box {
	position: relative;
	.send-button {
		position: absolute;
		bottom: 1px;
		right: 1px;
	}
}
