.parent-box {
	padding-top: 50px;
	display: flex;
	justify-content: center;

	.register-box {
		width: 50%;
	}

	.forms {
		width: 100%;
	}
	.full-width {
		width: 100%;
	}
	.step-actions {
		button {
			margin-right: 10px;
		}
	}
}
.gray-background {
	background-color: gray;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
mat-spinner {
	position: fixed;
	top: 40%;
	left: 45%;
	z-index: 4;
}
