.parent-box {
	padding-top: 50px;
	width: 1000px;
}
.post-avatar {
	margin: 3px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.mem-card {
	margin-top: 20px;
	margin-bottom: 20px;
	.p-col {
		display: flex;
		align-items: center;
	}
}

.mem-name {
	font-weight: bold;
	font-size: large;
}

table {
	width: 100%;
}
