<div>
	<div class="class-management-container">
		<mat-tab-group animationDuration="0ms">
			<mat-tab label="Classrooms">
				<classroom-classroom-list [memberType]="studentType"></classroom-classroom-list>
			</mat-tab>
			<mat-tab label="Teacher assistance clasrooms">
				<classroom-classroom-list [memberType]="teacherAssistanceType"></classroom-classroom-list>
			</mat-tab>
			<mat-tab label="Your classrooms">
				<classroom-classroom-list [memberType]="teacherType"></classroom-classroom-list>
			</mat-tab>
		</mat-tab-group>
	</div>
</div>
