.box {
	background-color: #f4f4f4;
}
.list-container {
	margin: 10px;
	padding: 15px;
}
::ng-deep .single-classroom-card {
	width: 175px;
	height: 140px;
	background-color: #8e44ad;
	justify-content: center;
	display: flex;
	text-align: center;
	margin: 10px;

	&:hover {
		background-color: #9b59b6;
	}

	.classroom-text {
		font-weight: bold;
		color: white;
		font-size: large;
	}
}
