<div class="box">
	<div class="list-container">
		<div class="p-d-flex p-flex-column p-flex-md-row">
			<div *ngFor="let class of classroomList">
				<p-card styleClass="single-classroom-card p-shadow-6" (click)="goToClassroom(class.classroomId)">
					{{ class.courseName }}
				</p-card>
			</div>
			<div>
				<p-card styleClass="single-classroom-card p-shadow-6" (click)="openAddClassroomForm()"> Add </p-card>
			</div>
		</div>
	</div>
	<p-dialog
		header="Header"
		[(visible)]="displayAddClassroomForm"
		[modal]="true"
		[style]="{ width: '50vw' }"
		[baseZIndex]="10000"
		[draggable]="false"
		[resizable]="false"
	>
		<!-- <classroom-create-new-classroom></classroom-create-new-classroom> -->
		<common-create-classroom-form></common-create-classroom-form>
		<ng-template pTemplate="footer">
			<p-button icon="pi pi-check" (click)="submitAndClose()" label="Create" styleClass="p-button-text">
			</p-button>
		</ng-template>
	</p-dialog>
</div>
