<div class="main-page">
	<div class="profile-content">
		<div class="profile-card">
			<mat-card>
				<div class="profile-representation">
					<img
						class="profile-background"
						mat-card-image
						src="https://images7.alphacoders.com/110/1102604.jpg"
						alt="Photo of a Shiba Inu"
					/>
					<img
						class="profile-avatar"
						mat-card-image
						src="https://material.angular.io/assets/img/examples/shiba2.jpg"
						alt="Photo of a Shiba Inu"
						alt="Photo of a Shiba Inu"
					/>
					<h2 class="profile-name">{{ fullName }}</h2>
					<div class="white-space"></div>
				</div>
				<mat-card-content>
					<div class="profile-overview">{{ overview }}</div>
					<p-tabView (onChange)="handleChange($event)">
						<p-tabPanel [selected]="tabViewIndex == 0">
							<ng-template pTemplate="header">
								<i class="pi pi-user tab-icon"></i>
								<span>Profile</span>
							</ng-template>
							<div class="tab-content">
								<profile-personal-info></profile-personal-info>
							</div>
						</p-tabPanel>
						<p-tabPanel [selected]="tabViewIndex == 1">
							<ng-template pTemplate="header">
								<i class="pi pi-briefcase tab-icon"></i>
								<span>Jobs</span>
							</ng-template>
							<div class="tab-content">
								<div class="job-management">
									<profile-job-management></profile-job-management>
								</div>
							</div>
						</p-tabPanel>
						<p-tabPanel [selected]="tabViewIndex == 2">
							<ng-template pTemplate="header">
								<i class="pi pi-users tab-icon"></i>
								<span>Classrooms</span>
							</ng-template>
							<div class="tab-content">Classrooms</div>
						</p-tabPanel>
					</p-tabView>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>
