<div>
	<div *ngFor="let job of ownedPostedJobsView">
		<div class="single-job-card">
			<p-card [style]="{ width: '360px' }" styleClass="p-shadow-5">
				<p-header>
					<h2>{{ job.jobTitle }}</h2>
				</p-header>
				<p>{{ job.courseName }}</p>
				<p>{{ job.appliedAmount }}</p>

				<ng-template pTemplate="footer">
					<button
						pButton
						class="p-button-raised p-button-rounded"
						label="Open application forms"
						(click)="openJobApplicationList(job.id)"
					></button>
					<button
						pButton
						class="p-button-raised p-button-rounded p-button-danger"
						label="Go to classroom"
						(click)="openClassroomFromJob(job.id)"
					></button>
				</ng-template>
			</p-card>
		</div>
	</div>
	<p-dialog
		header="Header"
		[(visible)]="displayAddClassroomForm"
		[modal]="true"
		[style]="{ width: '50vw' }"
		[baseZIndex]="10000"
		[draggable]="false"
		[resizable]="false"
	>
		<common-create-classroom-form></common-create-classroom-form>
		<ng-template pTemplate="footer">
			<p-button icon="pi pi-check" (click)="submitAndClose()" label="Create" styleClass="p-button-text">
			</p-button>
		</ng-template>
	</p-dialog>
</div>
