<div>
	<div *ngFor="let job of ownedPostedJobsView">
		<div class="single-job-card">
			<p-card [style]="{ width: '360px' }" styleClass="p-card-shadow">
				<p-header>
					<h2>{{ job.jobTitle }}</h2>
				</p-header>
				<p>{{ job.courseName }}</p>
				<p>{{ job.appliedAmount }}</p>

				<ng-template pTemplate="footer">
					<button pButton class="p-button-raised p-button-rounded" label="Open application forms" (click)="openJobApplicationList(job.id)"></button>
                    <button pButton class="p-button-raised p-button-rounded p-button-danger" label="Go to classroom" (click)="openClassroomFromJob(job.id)"></button>
				</ng-template>
			</p-card>
		</div>
	</div>
</div>
