.basic-info {
	width: 50%;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 20px;
}
.experience-list {
	.add-button {
		margin-bottom: 15px;
		display: flex;
		justify-content: right;
	}
	mat-expansion-panel {
		background-color: #dfe6e9;
	}
	.example-headers-align .mat-expansion-panel-header-description {
		right: 40px;
		position: absolute;

		mat-icon {
			margin-left: 15px;
		}
	}
}
