<div>
	<mat-list>
		<div mat-subheader>Basic</div>
		<div class="p-grid">
			<div class="p-col-6">
				<p-contextMenu [target]="basicInfo" [model]="menuItems"></p-contextMenu>
				<div #basicInfo matRipple class="basic-info">
					<div class="p-grid">
						<div class="p-col-6">
							<mat-list-item>
								<mat-icon mat-list-icon>perm_identity</mat-icon>
								<div mat-line>{{ personalInfo.fullName }}</div>
							</mat-list-item>
							<mat-list-item>
								<mat-icon mat-list-icon>mail</mat-icon>
								<div mat-line>{{ personalInfo.email }}</div>
							</mat-list-item>
							<mat-list-item>
								<mat-icon mat-list-icon>phone</mat-icon>
								<div mat-line>{{ personalInfo.phoneNumber }}</div>
							</mat-list-item>
						</div>
						<div class="p-col-6"></div>
					</div>
				</div>
			</div>
			<div class="p-col-6">
				<div #basicInfo matRipple class="basic-info">
					<div class="p-grid">
						<div class="p-col-8">
							<mat-list-item>
								<mat-icon mat-list-icon>school</mat-icon>
								<div mat-line>{{ personalInfo.university }}</div>
							</mat-list-item>
							<mat-list-item>
								<mat-icon mat-list-icon>local_fire_department</mat-icon>
								<div mat-line>{{ personalInfo.department }}</div>
							</mat-list-item>
							<mat-list-item>
								<mat-icon mat-list-icon>recent_actors</mat-icon>
								<div mat-line>{{ personalInfo.cardId }}</div>
							</mat-list-item>
						</div>
						<div class="p-col-4"></div>
					</div>
				</div>
			</div>
		</div>

		<p-dialog header="Edit profile" [(visible)]="editProfileDialog" [baseZIndex]="10000">
			<profile-basic-edit></profile-basic-edit>
			<ng-template pTemplate="footer">
				<p-button icon="pi pi-check" (click)="submitAndCloseDialog()" label="Ok" styleClass="p-button-text">
				</p-button>
			</ng-template>
		</p-dialog>
		<mat-divider></mat-divider>
		<div mat-subheader>Experiences</div>
		<div class="experience-list">
			<div class="add-button">
				<button mat-flat-button color="accent" (click)="openAddExpForm()">
					Add <mat-icon>post_add</mat-icon>
				</button>
			</div>
			<mat-accordion class="example-headers-align" multi>
				<mat-expansion-panel *ngFor="let exp of personalInfo.experiences">
					<mat-expansion-panel-header>
						<mat-panel-title>{{ exp.course }}</mat-panel-title>
						<mat-panel-description>
							{{ exp.semester }}
							<mat-icon>account_circle</mat-icon>
						</mat-panel-description>
					</mat-expansion-panel-header>
					<div mat-line>{{ exp.description }}</div>
					<mat-action-row>
						<button mat-button color="warn" (click)="openEditForm(exp.id)">Edit</button>
					</mat-action-row>
				</mat-expansion-panel>
			</mat-accordion>
			<p-dialog header="Add experience" [(visible)]="addExpVisible" [baseZIndex]="10000">
				<profile-add-exp-form></profile-add-exp-form>
				<ng-template pTemplate="footer">
					<button mat-flat-button color="accent" (click)="closeAddExpForm()">Submit</button>
				</ng-template>
			</p-dialog>
		</div>
	</mat-list>
</div>
