<h1 mat-dialog-title>Join classroom</h1>
<div mat-dialog-content class="parent-box">
	<mat-form-field appearance="outline">
		<mat-label>Input classroom code</mat-label>
		<input matInput placeholder="Ex. D4Fi9v3" [(ngModel)]="inputCode" />
	</mat-form-field>
</div>

<mat-progress-bar mode="indeterminate" *ngIf="progressing"></mat-progress-bar>
<mat-dialog-actions align="end">
	<button class="action-button" mat-flat-button color="accent" (click)="joinClass()">Join</button>
</mat-dialog-actions>
